@mixin adjust-font-size-with-baseline-to($to-size, $lines: ceil($to-size / $base-line-height), $from-size: $base-font-size) {
  @include adjust-font-size-to($to-size, $lines, $from-size);

  $leader: ($lines * $base-line-height - $to-size) * 1em / $base-font-size;
  $half-leader: $leader / 2;
  $baseline-offset: abs(($half-leader - $base-half-leader) / $base-rhythm-unit);

  @include leader($baseline-offset, $to-size);
  @include trailer(-$baseline-offset, $to-size);
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/fonts/crimson-semibold-webfont.eot');
  src: local('☺'), url('/assets/fonts/crimson-semibold-webfont.woff') format('woff'), url('/assets/fonts/crimson-semibold-webfont.ttf') format('truetype'), url('/assets/fonts/crimson-semibold-webfont.svg#webfont0WmVoF2B') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/fonts/crimson-italic-webfont.eot');
  src: local('☺'), url('/assets/fonts/crimson-italic-webfont.woff') format('woff'), url('/assets/fonts/crimson-italic-webfont.ttf') format('truetype'), url('/assets/fonts/crimson-italic-webfont.svg#webfontHm7xDDGE') format('svg');
  font-weight: normal;
  font-style: italic, oblique;
}

@font-face {
  font-family: 'Crimson';
  src: url('/assets/fonts/crimson-roman-webfont.eot');
  src: local('☺'), url('/assets/fonts/crimson-roman-webfont.woff') format('woff'), url('/assets/fonts/crimson-roman-webfont.ttf') format('truetype'), url('/assets/fonts/crimson-roman-webfont.svg#webfontfEaywW5f') format('svg');
  font-weight: normal;
  font-style: normal;
}

