@mixin adjust-font-size-with-baseline-to($to-size, $lines: ceil($to-size / $base-line-height), $from-size: $base-font-size) {
  @include adjust-font-size-to($to-size, $lines, $from-size);

  $leader: ($lines * $base-line-height - $to-size) * 1em / $base-font-size;
  $half-leader: $leader / 2;
  $baseline-offset: abs(($half-leader - $base-half-leader) / $base-rhythm-unit);

  @include leader($baseline-offset, $to-size);
  @include trailer(-$baseline-offset, $to-size);
}

@font-face {
  font-family: Roke1984;
  src: url('/assets/fonts/ROKE1984.otf');
}

@font-face {
  font-family: Crimson;
  src: url('/assets/fonts/Crimson-Roman.otf');
}

@font-face {
  font-family: Crimson;
  src: url('/assets/fonts/Crimson-Semibold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Crimson;
  src: url('/assets/fonts/Crimson-Italic.otf');
  font-style: italic, oblique;
}

