body.home {
  #container > header {
    @include full;

    h1 {
      @include columns(8, 12);
    }

    #contact {
      margin-left: 0; margin-right: 0;
      padding-left: 0; padding-right: 0;
      dt, dd { margin: 0; padding: 0; border: 0; outline: 0; }

      @include columns(4, 12);
      @include omega(12);

      dt {
        @include columns(1, 4);
        @include prefix(1, 4);
      }
      dd {
        @include columns(2, 4);
        @include omega(4);
      }
    }
  }

  #aboutme {
    @include full;
    @include suffix(4);
  }

  #writing {
    @include columns(8);
    @include alpha;

    article.writing.exerpt-only, h2, ul {
      @include columns(8, 8);
      @include suffix(0, 8);
      @include omega(8);
    }
  }

  #activity {
    @include columns(3);
    @include pad(1);
    @include omega;

    visibility: hidden;
  }

  #contact {
    @include leader(1);
  }

  #writing {
    h2 {
      @include leader(1, 42.6667px);
    }

    article {
      h3 a {
        color: $base;
        text-decoration: none;
        &:focus, &:hover, &:active {
          color: complement($alt); }
      }
      p { @include leader(1); }
    }

    ul {
      @include leader(1);
    }
  }

  #activity {
    @include leader(1);
    h2 { @include trailer(2, 42.6667px, 'padding'); }
  }
}
