//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";
@import "fonts";

/* Layout -------------------------------------------------------------- */

@include susy;

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
#container {
  @include container;
  @include leader(1);
  //@include show-grid("grid.png");
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

/* Styles -------------------------------------------------------------- */
h1, h2, h3 { font-weight: bold; }
h1 {
  @include adjust-font-size-to(92px);
  @include padding-leader(0.6, 92px);
}

h2 {
  @include adjust-font-size-with-baseline-to(42.6667px);
  @include padding-trailer(1, 42.6667px);
}

h3 {
  @include adjust-font-size-with-baseline-to(26.6667px);
  @include padding-trailer(1, 26.6667px);
}

article.writing.exerpt-only {
  @include columns(8);
  @include suffix(4);
  @include omega;

  header {
    @include full(8);

    date {
      @include columns(2, 8);
      @include leader(1);
    }

    h3 {
      @include columns(6, 8);
      @include omega(8);
    }
  }

  p {
    @include full(8);
    @include prefix(2, 8);
    @include leader(1);
  }

  h3 a {
    color: $base;
    text-decoration: none;
    &:focus, &:hover, &:active {
      color: complement($alt); }
  }
}

/* Page-specific imports ----------------------------------------------- */

@import "home";
@import "article";
@import "archives";
