#!/usr/bin/env ruby

require 'compass'
Compass.add_project_configuration 'compass-config.rb'

compile '/assets/style/_*/' do
  nil
end

compile '/assets/style/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '/assets/images/*/' do
  nil
end

compile '/assets/fonts/*/' do
  nil
end

compile '*' do
  filter :erb
  layout 'default'
end

route '/assets/style/_*/' do
  nil
end

route '/assets/style/*/' do
  item.identifier.chop + '.css'
end

route '/assets/images/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/assets/fonts/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
