<header>
  <h1>David Goodlad</h1>

  <dl id="contact">
    <dt>email</dt>
    <dd><a href="mailto:david@goodlad.ca">david@goodlad.ca</a></dd>

    <dt>twitter</dt>
    <dd><a href="http://twitter.com/dgoodlad">@dgoodlad</a></dd>

    <dt>github</dt>
    <dd><a href="http://github.com/dgoodlad">dgoodlad</a></dd>
  </dl>
</header>

<section id="aboutme">
  <p>
    Above all else, I am a software developer with a passion for all
    things <em>Web</em>. I craft Javascript and Ruby, HTML and CSS.  I build
    humane web applications with an extraordinary team of like-minded peaople
    at <a href="http://trikeapps.com/">Trike Apps</a> in Melbourne, Australia.
  </p>
</section>

<section id="writing">
  <h2>Recent writing</h2>
  <% sorted_articles.first(3).each do |article| %>
    <article>
      <date pubdate datetime="<%= article[:created_at] %>">
        <%= Time.parse(article[:created_at]).strftime("%d %b, %Y") %>
      </date>
      <h3><%= article[:title] %></h3>
      <p>
        <%= article[:exerpt] %>
      </p>
      <p>
        <a href="<%= article.path %>">Read More</a>
      </p>
    </article>
  <% end %>
  <% (3 - sorted_articles.size).times do %>
    <article class="fake">
      <date pubdate datetime="2010-11-01">
        <%= Time.parse("2010-11-01").strftime("%d %b, %Y") %>
      </date>
      <h3>Some Fake Article</h3>
      <p>
        We need rest.  The spirit is willing, but the flesh is spongy and
        bruised. Ah, the 'Breakfast Club' soundtrack!  I can't wait til I'm
        old enough to feel ways about stuff! Bender, this is Fry's decision...
        and he made it wrong. So it's time for us to interfere in his life.
      </p>
    </article>
  <% end %>
</section>

<section id="activity">
  <section id="twitter">
    <h2>Twitter</h2>
    <article>
      <date pubdate datetime="2010-12-25">5 mins ago</date>
      <p>Got my new site up! It uses some great libraries like compass
        and susy.</p>
    </article>
    <article>
      <date pubdate datetime="2010-12-25">5 mins ago</date>
      <p>Got my new site up!</p>
    </article>
    <article>
      <date pubdate datetime="2010-12-25">5 mins ago</date>
      <p>Got my new site up!</p>
    </article>
    <article>
      <date pubdate datetime="2010-12-25">5 mins ago</date>
      <p>Got my new site up!</p>
    </article>
  </section>

</section>
