---
description: |
  Above all else, I am a software developer with a passion for all
  things Web. I craft Javascript and Ruby, HTML and CSS.  I work with an
  extraordinary team at Envato in Melbourne, Australia.
priority: 1.0
---

<header>
  <h1>David Goodlad</h1>

  <dl id="contact">
    <dt>email</dt>
    <dd><a href="mailto:david@goodlad.net">david@goodlad.net</a></dd>

    <dt>twitter</dt>
    <dd><a href="http://twitter.com/dgoodlad">@dgoodlad</a></dd>

    <dt>github</dt>
    <dd><a href="https://github.com/dgoodlad">dgoodlad</a></dd>
  </dl>
</header>

<section id="aboutme">
  <p>
    Above all else, I am a software developer with a passion for all
    things <em>Web</em>. I craft Javascript and Ruby, HTML and CSS.  I work with
    an extraordinary team at <a href="http://www.envato.com/">Envato</a> in
    Melbourne, Australia.
  </p>
</section>

<section id="writing">
  <header>
    <h2>Writing</h2>
    <nav>
      <p>Archives</p>
      <ul class="archived">
        <% archive_pages.each do |archive| %>
          <li><a href="<%= archive.path %>"><%= archive[:year] %></a></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <% sorted_articles.first(3).each do |article| %>
    <%= render 'article_exerpt', { :article => article } %>
  <% end %>
</section>

<section id="activity">
  <section id="twitter">
    <h2>Twitter</h2>
  </section>
</section>
