---
description: |
  Above all else, I am a software developer with a passion for all
  things Web. I craft Javascript and Ruby, HTML and CSS.  I build
  humane web applications with an extraordinary team of like-minded people
  at Trike Apps in Melbourne, Australia.
---

<header>
  <h1>David Goodlad</h1>

  <dl id="contact">
    <dt>email</dt>
    <dd><a href="mailto:david@goodlad.ca">david@goodlad.ca</a></dd>

    <dt>twitter</dt>
    <dd><a href="http://twitter.com/dgoodlad">@dgoodlad</a></dd>

    <dt>github</dt>
    <dd><a href="https://github.com/dgoodlad">dgoodlad</a></dd>
  </dl>
</header>

<section id="aboutme">
  <p>
    Above all else, I am a software developer with a passion for all
    things <em>Web</em>. I craft Javascript and Ruby, HTML and CSS.  I build
    humane web applications with an extraordinary team of like-minded people
    at <a href="http://trikeapps.com/">Trike Apps</a> in Melbourne, Australia.
  </p>
</section>

<section id="writing">
  <h2>Recent writing</h2>
  <% sorted_articles.first(3).each do |article| %>
    <% next if Date.today - Time.parse(article[:created_at]).to_date > 365 %>
    <article>
      <date pubdate datetime="<%= article[:created_at] %>">
        <%= Time.parse(article[:created_at]).strftime("%d %b, %Y") %>
      </date>
      <h3><a href="<%= article.path %>"><%= article[:title] %></a></h3>
      <p>
        <%= article[:exerpt] %>
      </p>
      <p>
        <a href="<%= article.path %>">Read More</a>
      </p>
    </article>
  <% end %>
</section>

<section id="activity">
  <section id="twitter">
    <h2>Twitter</h2>
  </section>
</section>
