@font-face {
  font-family: Roke1984;
  src: url('/fonts/ROKE1984.otf');
}

@font-face {
  font-family: Crimson;
  src: url('/fonts/Crimson-Roman.otf');
}

@font-face {
  font-family: Crimson;
  src: url('/fonts/Crimson-Semibold.otf');
  font-weight: bold;
}

@font-face {
  font-family: Crimson;
  src: url('/fonts/Crimson-Italic.otf');
  font-style: italic, oblique;
}

