//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import "defaults";
@import "fonts";

/* Layout -------------------------------------------------------------- */

@include susy;

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
#container {
  @include container;
  //@include show-grid("grid.png");
}

// show-grid loads a 64+16x24 grid image by default
// For other grid settings, run `compass grid-img 30+10x20`
// Where 30 is the column width, 10 is the gutter width,
// and 20 is the (optional) line-height.

#container > header {
  @include full;

  h1 {
    @include alpha(12);
    @include columns(9, 12);
  }

  #contact {
    margin-left: 0; margin-right: 0;
    padding-left: 0; padding-right: 0;
    dt, dd { margin: 0; padding: 0; border: 0; outline: 0; }

    @include columns(3, 12);
    @include omega(12);

    dt {
      @include alpha(3);
      @include columns(1, 3);
      text-align: right;
    }
    dd {
      @include columns(2, 3);
      @include omega(3);
    }
  }
}

#aboutme {
  @include full;
  @include suffix(4);
}

#writing {
  @include columns(8);
  @include alpha;

  article {
    @include columns(8, 8);
    @include omega(8);

    date {
      @include columns(2, 8);
      @include leader(1);
    }

    h3 {
      @include columns(6, 8);
      @include omega(8);
    }

    p {
      @include full(8);
      @include prefix(2, 8);
    }
  }
}

#activity {
  @include columns(3);
  @include pad(1);
  @include omega;
}

@mixin adjust-font-size-with-baseline-to($to-size, $lines: ceil($to-size / $base-line-height), $from-size: $base-font-size) {
  @include adjust-font-size-to($to-size, $lines, $from-size);

  $leader: ($lines * $base-line-height - $to-size) * 1em / $base-font-size;
  $half-leader: $leader / 2;
  $baseline-offset: abs(($half-leader - $base-half-leader) / $base-rhythm-unit);

  @include leader($baseline-offset, $to-size);
  @include trailer(-$baseline-offset, $to-size);
}

/* Styles -------------------------------------------------------------- */
h1, h2, h3 { font-weight: bold; }
h1 {
  @include adjust-font-size-with-baseline-to(96px);
}

h2 {
  @include adjust-font-size-with-baseline-to(42.6667px);
}

h3 {
  @include adjust-font-size-with-baseline-to(26.6667px);
}

#contact {
  @include leader(1);
}

#writing {
  article {
    //h3 { @include trailer(0); }
    p { @include leader(1); }
    //h3 { display: inline-block; @include trailer(0); }
    //date { display: inline-block; float: right; @include leader(1); }
    //h3 { @include trailer(0); }
  }
}
